{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2>My First Smartphone web site </h2>
        <a href="/newphone" class="btn-primary">New phone</a>
        <a href="/about" class="btn-secondary">About me</a> 
        <a href="/phoneslist" class="btn-primary">Phones List</a>
      </div>

      <div class="section-device">
        <img src="static/img/f300.jpg">
      </div>
      
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}