{% extends "layout.html" %}

{% block content %}
  <main class="container signup-section">
    <div class="section-content">
      <h2>Insert new phone</h2>

      <form method="POST">

        <div class="form-group">
          <label>Code ID :</label>
          <input type=text name=codeid placeholder="car id" />
        </div>

        <div class="form-group">
          <label>Price :</label>
          <input type=text name=price placeholder="price" />
        </div>

        <div class="form-group">
          <label>Marke :</label>
          <input type=text name=marke placeholder="marke" />
        </div>

        <div class="form-group">
          <label>Year :</label>
          <input type=text name=year placeholder="year" />
        </div>

        <div class="form-group">
          <label>Battery :</label>
          <input type=text name=battery placeholder="battery" />
        </div>

        
          <input type="submit" value="Save New phone" class="btn-primary"/>

        
      </form>
    </div>
  </main>
{% endblock %}